:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  max-width: 1126px;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-inline: 1px solid var(--border);
}

h1 {
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: -0.04em;
  color: var(--text-h);
  margin: 0;
}

p {
  margin: 0;
}
